<div *ngIf="isSignedUp; else signupForm">
  <h1>Rejestracja udana proszę się zalogować!</h1>
</div>
 
<ng-template #signupForm>
<div class="content">
  <h2>Rejestracja</h2>
    <div style="width: 350px; margin-left: auto; margin-right: auto">
      
      <form>
        <mat-form-field style="width: 350px">
          <input matInput placeholder="Imie" (keyup.enter)="register()" [(ngModel)]="form.firstName" name="firstName" required>
        </mat-form-field>

        <mat-form-field style="width: 350px">
          <input matInput placeholder="Nazwisko" (keyup.enter)="register()" [(ngModel)]="form.lastName" name="lastName" required>
        </mat-form-field>

        <mat-form-field style="width: 350px">
          <input matInput placeholder="Login" (keyup.enter)="register()" [(ngModel)]="form.username" name="username" required>
        </mat-form-field>

        <mat-form-field style="width: 350px">
          <input matInput placeholder="E-mail" (keyup.enter)="register()" [(ngModel)]="form.email" name="email" required email>
        </mat-form-field>

        <mat-form-field style="width: 350px;">
          <input matInput type="password" placeholder="Hasło" (keyup.enter)="register()" [(ngModel)]="form.password" name="password" required minlength="6">
        </mat-form-field>

        <mat-form-field style="width: 350px;">
          <input matInput type="password" placeholder="Powtórz hasło" (keyup.enter)="register()" [(ngModel)]="form.replyPassword" name="replyPassword" required minlength="6"> 
        </mat-form-field>

        <mat-form-field style="width: 350px">
          <mat-label>Stanowisko</mat-label>
          <mat-select [(ngModel)]="form.position" name="position" required>
            <mat-option value="Adiunkt">Adiunkt</mat-option>
            <mat-option value="Profesor">Profesor</mat-option>
            <mat-option value="Asystent">Asystent</mat-option>
            <mat-option value="Starszy Wykładowca">Starszy Wykładowca</mat-option>
            <mat-option value="Student">Student</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 350px" *ngIf="form.position!='Student'">
          <mat-label>Tytuł naukowy</mat-label>
          <mat-select [(ngModel)]="form.titles" name="titles" multiple required>
            <mat-option *ngFor="let title of titleList" [value]="title.name">{{title.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="loginButton">
            <a mat-stroked-button class="buttonLogin" (click)="register()">Zarejestruj się</a>
        </div>
      </form>

      <h3>Posiadasz już konto?<br>
        <a routerLink="/login">Zaloguj się!</a>
      </h3>

    </div>
</div>

</ng-template>