<div class="container">
    <form>
        <mat-form-field>
                <input matInput placeholder="Nagłówek"  [(ngModel)]="form.title" name="title" required>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Przedmiot</mat-label>
                <mat-select [(ngModel)]="form.subjects" name="subjects" multiple required>
                  <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Typ</mat-label>
                <mat-select [(ngModel)]="form.types" name="types" multiple required>
                  <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
                </mat-select>
        </mat-form-field>
        
        <mat-form-field>
                <textarea matInput placeholder="Opis" rows="5" [(ngModel)]="form.description" name="description" required></textarea>
        </mat-form-field>

        <button type="button" class="btn btn-success" (click)="addPost()">Dodaj</button>
      </form>
</div>